
body /* Main Structure */
{
    background-image:url(images/Background.gif);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-size: cover;
    padding: 10px;
    color: #FEFEFE;
}
div
{
    padding: 5px;
    background: rgb(0,0,0,0.45);
    margin: auto;
    width: 60%;
    text-align: center;
}
#main-nav a{
    text-decoration: none;
    background:#030973;
    color: #F20544;
    padding: 5px;
    border-style: dashed;
    border-radius: 3px;
    border-color: #F24405;
    
}
#main-nav a:hover{
    background-color:#0B04D9;
    padding: 8px;
}
#name{
    padding: 8px;
    text-decoration: underline;
    font-size: 24px;
    border-radius: 3px;
}
h1{color:#F29F05;}

#assignments a, ul, li{
    text-decoration: none;
    background-color: #3F003F;
    color: #FFBE00;
    padding: 7px;
    border-style: groove;
    margin: 10px;
    display: inline-block;
    list-style: none;
}
#assignments a:hover{
    background-color: #030973;
}
/*Resolutions*/
@media (min-width:900px) {
    #main-nav ul, #assignments ul{
        display: flex;
    }
    #main-nav li{
        flex: 1;
    }
}