
body /* Main Structure */
{
    background: skyblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
}
h1{color:crimson;}
div
{
    background: white;
    margin: auto;
}