/* Structure */
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F7EDD0;
    height: 100%;
    overflow-y: hidden;
}


h1{
    text-align: center;
}

#main-nav{
    justify-content: space-around;
}

.linkz{
    background-color: #947360;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 75px;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}
#carousel{
    text-align: center;
    padding: 10px;
    margin: auto;
}
#hamburger{
    padding: 8px;
}
#hamburger div{
    width: 20px;
    height: 4px;
    background-color: black;
    margin: 6px;
}

.hide{
    display: none;
}
footer{
    text-align: center;
}




/* typography */
#main-nav{
    list-style: none;
    margin: none;
    padding-left: 4px;
    font-size: 18px;

}
#main-nav li{
    background-color: #947360;
    border: 2px solid black;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
}
#main-nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.linkz h2{
    text-align: center;
}
img{
    border: 6px solid black;
    width: 400px;
    height: 200px;
}







/*resolution / flex*/
@media (min-width: 760px){
    .flexcontainer{
        display:flex;
    }
    #hamburger{
        display: none;
    }


}